header {
	background-color: #F8f8f8;
    opacity: 1;
    
    .uli & {
        opacity: 1;
    }
    
    .ulo & {
        opacity: 1;
    }

	ul {
		padding: 10px 0px;
	}

	li {
		display: inline-block;
		margin-right: 10px;

		a {
			padding: 10px;
			color: #000;
			font-weight: bold;
			background-color: #EAEAEA;
			@include transition(all .15s ease-out);

			&:hover {
				background-color: #F71570;
				color: #FFF;
			}
		}
	}
}